<section class="mt-[40px]">
  <!-- Add Admin Button -->
  <div class="mb-6 text-right ">
    <button (click)="openAddModal()" class="bg-blue-600 text-white px-5 py-2 rounded hover:bg-blue-700 transition">
      + Add Supermarket
    </button>
  </div>

  <!-- Modal -->
  <div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div
      class="bg-white p-8 rounded-2xl shadow-2xl w-[70%] max-h-[90vh] overflow-y-auto scrrolHide mx-auto relative transition-transform duration-300 scale-100">

      <!-- Header -->
      <div class="flex items-center mb-6" [ngClass]="{ 'justify-between': !show, 'justify-end': show }">
        <h2 class="text-2xl font-bold text-gray-800" *ngIf="!show">
          {{ mode ? 'Edit Supermarket' : 'Add Supermarket' }}
        </h2>
        <div
          class="bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
          (click)="closeModal()">
          ✕
        </div>
      </div>

      <!-- Form -->
      <form [formGroup]="supermarketForm" (ngSubmit)="onSubmit()" class="space-y-6">

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

        </div>
        <!-- Name -->
        <div formGroupName="name" class="mb-6">
          <h3 class="text-lg font-semibold text-gray-800 mb-3">Name</h3>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

            <!-- English -->
            <div>
              <label class="block text-gray-600 font-medium mb-1">English</label>
              <input type="text" formControlName="en" placeholder="Enter English Name"
                class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
              <div *ngIf="supermarketForm.get('name.en')?.touched && supermarketForm.get('name.en')?.invalid"
                class="text-red-500 text-sm mt-1">English name is required</div>
            </div>

            <!-- Arabic -->
            <div>
              <label class="block text-gray-600 font-medium mb-1">Arabic</label>
              <input type="text" formControlName="ar" placeholder="أدخل الاسم بالعربية"
                class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
              <div *ngIf="supermarketForm.get('name.ar')?.touched && supermarketForm.get('name.ar')?.invalid"
                class="text-red-500 text-sm mt-1">Arabic name is required</div>
            </div>

            <!-- French -->
            <div>
              <label class="block text-gray-600 font-medium mb-1">French</label>
              <input type="text" formControlName="fr" placeholder="Entrez le nom en français"
                class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
              <div *ngIf="supermarketForm.get('name.fr')?.touched && supermarketForm.get('name.fr')?.invalid"
                class="text-red-500 text-sm mt-1">French name is required</div>
            </div>
          </div>
        </div>


        <!-- Description -->
        <div formGroupName="description" class="mb-6">
          <h3 class="text-lg font-semibold text-gray-800 mb-3">Description</h3>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

            <!-- English -->
            <div>
              <label class="block text-gray-600 font-medium mb-1">English</label>
              <textarea rows="3" formControlName="en" placeholder="Enter English Description"
                class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none"></textarea>
              <div
                *ngIf="supermarketForm.get('description.en')?.touched && supermarketForm.get('description.en')?.invalid"
                class="text-red-500 text-sm mt-1">English description is required</div>
            </div>

            <!-- Arabic -->
            <div>
              <label class="block text-gray-600 font-medium mb-1">Arabic</label>
              <textarea rows="3" formControlName="ar" placeholder="أدخل الوصف بالعربية"
                class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none"></textarea>
              <div
                *ngIf="supermarketForm.get('description.ar')?.touched && supermarketForm.get('description.ar')?.invalid"
                class="text-red-500 text-sm mt-1">Arabic description is required</div>
            </div>

            <!-- French -->
            <div>
              <label class="block text-gray-600 font-medium mb-1">French</label>
              <textarea rows="3" formControlName="fr" placeholder="Entrez la description en français"
                class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none"></textarea>
              <div
                *ngIf="supermarketForm.get('description.fr')?.touched && supermarketForm.get('description.fr')?.invalid"
                class="text-red-500 text-sm mt-1">French description is required</div>
            </div>
          </div>
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Phone -->
          <div>
            <label class="block text-gray-700 font-medium mb-1">Phone</label>
            <input type="text" formControlName="phone" placeholder="+201012345678"
              class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
            <div *ngIf="supermarketForm.get('phone')?.touched && supermarketForm.get('phone')?.invalid"
              class="text-red-500 text-sm mt-1">Phone must start with +20 and be followed by 9 digits</div>
          </div>

          <!-- Status -->
          <div>
            <label class="block text-gray-700 font-medium mb-1">Is Open</label>
            <select formControlName="isOpen"
              class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none">
              <option [ngValue]="true">Open</option>
              <option [ngValue]="false">Closed</option>
            </select>
          </div>
        </div>

        <div class="w-full">

          <!-- Website -->
          <div>
            <label class="block text-gray-700 font-medium mb-1">Website</label>
            <input type="url" formControlName="supermarketLocationLink" placeholder="https://example.com"
              class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
            <div *ngIf="supermarketForm.get('supermarketLocationLink')?.touched && supermarketForm.get('supermarketLocationLink')?.invalid"
              class="text-red-500 text-sm mt-1">Website must start with https://</div>
          </div>
        </div>


        <!-- Single Image -->
        <div class="w-full flex flex-col mb-4">
          <label class="text-[18px] font-medium text-gray-700 mb-1">Upload Image</label>

          <div class="relative border-2 border-dashed border-blue-500 rounded-lg p-4 flex flex-col items-center justify-center
           cursor-pointer bg-blue-50 transition h-40">

            <!-- Input -->
            <input type="file" accept=".jpg,.jpeg,.png,.gif" (change)="onImageSelected($event)"
              class="absolute inset-0 opacity-0 cursor-pointer" *ngIf="!imagePreview" />

            <!-- لو مفيش صورة -->
            <ng-container *ngIf="!imagePreview">
              <svg class="w-12 h-12 text-blue-500 mb-2" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
              </svg>
              <p class="text-gray-600">Click to upload Image</p>
            </ng-container>

            <!-- لو في صورة -->
            <ng-container *ngIf="imagePreview">
              <div class="relative w-24 h-24">
                <img [src]="imagePreview" class="w-full h-full object-cover rounded-lg border border-gray-300 shadow">
                <button *ngIf="!viewData" type="button" (click)="onRemoveImage($event)" class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center
                 justify-center hover:bg-red-600 transition">✕
                </button>
              </div>
            </ng-container>
          </div>
        </div>




        <!-- Submit -->
        <div class="flex justify-end mt-6">
          <button type="submit" [disabled]="supermarketForm.invalid" *ngIf="!show"
            class="bg-blue-600 hover:bg-blue-700 disabled:bg-gray-400 text-white font-medium px-6 py-2 rounded-lg shadow-md transition-all duration-300">
            {{ mode ? 'Update' : 'Save' }}
          </button>
        </div>

      </form>


    </div>
  </div>



  <div class="overflow-x-auto bg-white rounded-xl shadow-lg border border-gray-200">
    <table class="w-full text-center text-gray-700">
      <thead>
        <tr class="bg-gradient-to-r from-blue-600 to-indigo-600 text-white text-sm md:text-base">
          <th class="px-4 py-3">#</th>
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Phone</th>
          <th class="px-4 py-3">Status</th>
          <!-- <th class="px-4 py-3">rating</th>
          <th class="px-4 py-3">deliveryTime</th>
          <th class="px-4 py-3">distance</th>
          <th class="px-4 py-3">discripion</th> -->
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of supermarket; let i = index"
          class="hover:bg-gray-100 transition text-sm md:text-base border-b last:border-none">
          <td class="px-4 py-3">{{ i + 1 }}</td>
          <td class="px-4 py-3 font-semibold">{{ user.name.en }}</td>
          <td class="px-4 py-3">{{ user.phone || 'N/A' }}</td>
          <td class="px-4 py-3">{{ user.isOpen || 'N/A' }}</td>
          <!-- <td class="px-4 py-3">{{ user.rating || 'N/A' }}</td>
          <td class="px-4 py-3">{{ user.deliveryTime || 'N/A' }}</td>
          <td class="px-4 py-3">{{ user.distance || 'N/A' }}</td>
          <td class="px-4 py-3">{{ (user.discripion | slice:0:20 ) || 'N/A' }}</td> -->
          <td class="px-4 py-3">
            <button (click)="openEditModal(user)" class="text-blue-600 hover:text-blue-800 transition">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteRestaurant(user._id)" class="text-red-600 hover:text-red-800 mx-3 transition">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button (click)="openViewModal(user)" class="text-green-600 hover:text-green-800  transition">
              <i class="fas fa-eye"></i>

            </button>
            <button routerLink="/add-section/{{ user._id }}" class="bg-blue-700 text-white rounded-lg p-2 mx-3  transition">
              <i class="fas fa-plus"></i>
              <span class="mx-1">Add Section</span>
            </button>
            <button (click)="openAddRoleModal(user._id)"
              class="bg-blue-700 text-white rounded-lg p-2 mx-3  transition">
              + Add Role
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>





</section>



<!-- Modal -->
<div *ngIf="showModalAddRole" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div
    class="bg-white p-8 rounded-2xl shadow-2xl w-[70%] max-h-[90vh] overflow-y-auto scrrolHide mx-auto relative transition-transform duration-300 scale-100">

    <!-- Header -->
    <div class="flex items-center mb-6" [ngClass]="{ 'justify-between': !show, 'justify-end': show }">
      <h2 class="text-2xl font-bold text-gray-800" *ngIf="!show">
        {{ mode ? 'Edit Restaurant' : 'Add Restaurant' }}
      </h2>
      <div
        class="bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
        (click)="closeModalAddRole()">
        ✕
      </div>
    </div>

    <!-- Form -->
    <form [formGroup]="autharizaForm" (ngSubmit)="onSubmitAddRole()" class="space-y-6">

      <div class="w-full">
        <!-- role -->
        <div>
          <label class="block text-gray-700 font-medium mb-1">Name</label>
          <input type="text" formControlName="role" readonly
            class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
          <div *ngIf="autharizaForm.get('role')?.touched && autharizaForm.get('role')?.invalid"
            class="text-red-500 text-sm mt-1">Name is required</div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div>
          <select [(ngModel)]="accountType" [ngModelOptions]="{standalone: true}" (change)="getAlladmins(accountType)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm outline-none rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="Admin">Admin</option>
            <option value="manager">Restaurant Manager</option>
            <option value="staff">Supermarket Manager</option>
          </select>


        </div>
        <div *ngIf="accountType" >
          <select formControlName="userId" class="w-full border rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500">
            <option value="" disabled>Select user</option>
            <option *ngFor="let admin of admins" [value]="admin._id">
              {{ admin.fullName }}
            </option>
          </select>


        </div>


      </div>

      <!-- Submit -->
      <div class="flex justify-end mt-6">
        <button type="submit" [disabled]="autharizaForm.invalid"
          class="bg-blue-600 hover:bg-blue-700 disabled:bg-gray-400 text-white font-medium px-6 py-2 rounded-lg shadow-md transition-all duration-300">
          {{ mode ? 'Update' : 'Save' }}
        </button>
      </div>

    </form>


  </div>
</div>
